<!DOCTYPE html>
<html lang="en">
    <%-include ('./partial/head.ejs') %> 
<body> 
    <%-include ('./partial/nav.ejs') %> 
  <div class="create-blog content">
    <form action="/blog/create" method="post">
        <label for="title"> Blog Title*:</label>
        <input type="text" name="title" id="title" required>

        <label for="snippet">Blog Description:</label>
       <textarea name="description" id="snippet" cols="30" rows="10"></textarea>

       <label for="body">Blog Content:</label>
       <textarea name="content" id="body" cols="30" rows="10"></textarea>

       <!-- <input type="submit" value="Publish"> -->
       <button>Update</button>
       </form>
  </div>
   <%- include ('./partial/footer.ejs') %> 
</body>
</html>

