<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Dev</h1></a>
      <p>A Net Dev Site</p>
    </div>
    <ul>
      <li><a href="/redirect/home">New Blog</a></li>
      <li><a href="/redirect/about">About</a></li>
      <li><a href="/blog/display">Blogs</a></li>
    </ul>
  </nav>